@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(15, 14, 14);
    --foreground: rgb(217, 217, 217);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

.firstExample {
  display: flex;
  overflow: hidden;
}

.firstExample span {
  display: block;
  font-size: 5rem;
  color: red;
  font-weight: 800;
}
